extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  each pokemon in pokemons
    a(class="card-container" href=`/pokemons/${pokemon.id}`)
      div(class="card grow")
        img(src=pokemon.image)
        div(class="card-text")
          span(style="font-weight:bold; font-size:20px; text-transform:uppercase")= pokemon.name
            p= pokemon.description
            p= pokemon.type
