extends layout.pug

block content
  h1= title
  each pokemon in pokemons
    a(class="card-container" href=`/pokemons/${pokemon.id}`)
      div(class="card grow")
        img(src=pokemon.image)
        div(class="card-text")
          span(style="font-weight:bold; font-size:20px; text-transform:uppercase")= pokemon.name
            p= pokemon.description
            p= pokemon.type

  footer
    div(class="column")
      h3 Elite 4
        ul
          li James Chen
            a(href="https://www.linkedin.com/in/jameschenn")
              <i class="socials fa-brands fa-linkedin"></i>
            a(href="https://github.com/jameschenn")
              <i class="socials fa-brands fa-github"></i>
          li Grant Walton
            a(href="https://www.linkedin.com/in/grant-walton-795261235/")
              <i class="socials fa-brands fa-linkedin"></i>
            a(href="https://github.com/Gwantt")
              <i class="socials fa-brands fa-github"></i>
          li Dayton Chen
            a(href="https://www.linkedin.com/in/dayton-chen-0abb7abb/")
              <i class="socials fa-brands fa-linkedin"></i>
            a(href="https://github.com/spursforever")
              <i class="socials fa-brands fa-github"></i>
          li Khoi Duong
            a(href="https://www.linkedin.com/in/khoiduong1996/")
              <i class="socials fa-brands fa-linkedin"></i>
            a(href="https://github.com/kdngaa")
              <i class="socials fa-brands fa-github"></i>
    div(class="right column")
      p © Copyright 2022 PokéFlex
