extends layout.pug
block content
    h2= title
    div(class="card-container")
            div(class="card grow")
                img(src=pokemon.image)
                div(class="card-text")
                    span(style="font-weight:bold; font-size:20px; text-transform:uppercase")= pokemon.name
                    p= pokemon.description
                    p= pokemon.type
    if locals.authenticated
        form(action='/catchlists/:trainerId(\\d+)/:catchlistId(\\d+)' method='post')
            select(class='drop-down')
                each catchlist in catchlists
                    option(value= catchlist.id)= catchlist.catchstatus
            button(type='Submit' class='grow') Confirm
