extends layout.pug
block content

    h1= title
    each monster in pokemon
        div(class="card-container")
            div(class="card grow")
                img(src=monster.image)
                div(class="card-text")
                    span(style="font-weight:bold; font-size:20px; text-transform:uppercase")= monster.name
                    p= monster.description
                    p= monster.type


    li: a(href="/pokemons?page=1") Page 1
    li: a(href="/pokemons?page=2") Page 2
    li: a(href="/pokemons?page=3") Page 3
    li: a(href="/pokemons?page=4") Page 4
