extends layout.pug
block content
    h2(style="font-weight:bold; font-size:40px; text-transform:uppercase; text-align:center")= title
    div(class="card-container")
            div(class="card grow")
                img(src=pokemon.image)
                div(class="card-text")
                    span(style="font-weight:bold; font-size:20px; text-transform:uppercase")= pokemon.name
                    p= pokemon.description
                    p= pokemon.type
    if locals.authenticated
        form(action=`/pokemons/${pokemon.id}` method='post' id='form')
            select(name= 'catchlistId' class='drop-down')
                each catchlist in catchlists
                    option(class='formOption' value= catchlist.id)= catchlist.catchstatus
            button(type='Submit' class='grow' class='formButton' id='button') Confirm
