extends layout.pug
block content
    if errors.length > 0
        each err in errors
            p(class='errorMsg')= err
    div(class='div-form')
        form(class='form' action="/users/signup" method="post")
            input(class="div-form-item" type="hidden" name="_csrf" value=csrfToken)
            label(class="div-form-item" for="username") Username
            input(class="div-form-item" type="text" name="username"  placeholder='Username' value=user.username)
            label(class="div-form-item" for="emailAddress") Email
            input(class="div-form-item" type="email" name="emailAddress"  placeholder='Email' value=user.emailAddress)
            label(class="div-form-item" for="password") Password
            input(class="div-form-item" type="password" name="password"  placeholder='Password' value=user.password)
            label(class="div-form-item" for="confirmPassword") Confirm Password
            input(class="div-form-item" type="password" name="confirmPassword" placeholder='Confirm Password')
            br
            button(id="signUp" class="div-form-item" type="submit") Sign Up
